<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div>
 
<img src="/images/nophoto.png" alt="photo">
<h2>TYPE DU BIEN 1</h2>
<div>3000 €</div>

<div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>
Rerum fuga quisquam deserunt necessitatibus eligendi iste, eveniet quos impedit. <br>
Accusamus hic earum quod ea asperiores quam nisi commodi in corrupti eius.</div>

<img src="/images/exnomap.png" alt="map">

<div>Contactez notre vendeur :</div>
<div>Nom du Vendeur</div>

</body>
</html>